
/*remember that you can classify css elements
by layouts, by style, and text etc. so it can be easier
to edit and read code*/
body {
    margin: 0;
   
    font-family: "Open Sans", "Lato", "Roboto";
}


/* this is for style */ 

.header   {
    display: flex;
    width: 100%;
    height: 50px;
    gap: 800px;
}
.main   {
    background-color: #ededed;
    width:100%;
    height:300px;
    display: flex;
    justify-content:center;
}

.secondary   {
    width: 100%;
    height: 330px;
    background-color: #3dbd9c;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
} 



/* this is for text */ 

.logo  { border: solid 2px yellow;
}


.header-links    { 
    border: solid 2px yellow;
  
   
}

ul {
    list-style-type: none;
    display: flex;
   
    justify-content: flex-start;
    gap: 30px;
  }
   /*this is for all list*/

.footer-links {
  
  
    
    border: solid 2px yellow;
}

p {
     border: solid 2px yellow;
    } 
/*this is for all paragraphs*/



button     {
    padding: 5px 10px;
}


/*this is for all columns*/
.columns {
    display: flex;
    border: solid 2px yellow;
    height: 100px;
    width: auto;
    padding: 20px;
    align-content: center;

    
    }/*this is parent of columns*/


.column-1 {border: solid 2px yellow;}

.column-2 {border: solid 2px yellow;}

.column-3 {border: solid 2px yellow;}

.column-4 {border: solid 2px yellow;}


.footer{ 
    height: 30px;
    width: auto;
    border: solid 2px yellow;
    display:flex;
    
    gap:500px
}
    




